body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: honeydew;
    background-image: url('images/wallpaper.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    border: none;
    border-radius: 3px;
    background-color: goldenrod;
    color: darkgreen;
    font-size: 20px;
    font-weight: bold;
    padding: 7px;
    width: 200px;
    cursor: pointer;
    margin-bottom: 5px;
}